*{
  margin: 0;
  padding: 0;
  font-family: 'Cinzel', serif;
  font-family: 'Open Sans', sans-serif;
}

h1{
  font-size: 2.6rem;
}

h2{
  font-size: 2.4rem;
}

h3{
  font-size: 2rem;
}

h3 span{
  font-weight: 600;
}

p{
  font-size: 1.8rem;
}

.container{
  width: 100%;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  /*BG Settings*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Box-weather{
  background-color: rgba(86, 107, 89, 0.404);
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 1px 2px 3px rgb(29, 26, 26);
  max-height: 80vh;
}


.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
   
}

.icon{
  max-width: 250px;
}

.icon-box{
  display: flex;
  justify-content: center;
}

.temp{
  font-size: 5rem;
}
.temp_btn{
  height: 70px;
  width: 70px;
  padding: 5px;
  font-size: 2.4rem;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 1px 1px 5px black;
  text-align: center;
  transition: all .125s ease-in;
}

.temp_btn:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.952);
  color: white;
}



.cloudy_bg{
  background-image: url(../src/assets/cloudy.jpg);
}

.rainy_bg{
  background-image: url(../src/assets/rain.jpg);
}

.sunny_bg{
  background-image: url(../src/assets/sunny.jpg);
}

.drizzle_bg{
  background-image: url(../src/assets/drizzle.jpg);
}